<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Free Rental Analysis</span>
            <h2 class="cs-title">Schedule A Call With Us</h2>
            <p class="cs-text">
                Ready to maximize your property's potential? Click the button to schedule a free consultation on how we can optimize your investments and provide you with peace of mind. Don't settle for anything less than excellence – trust Sunseeker Rentals to get the job done right.
            </p>
            <a href="https://calendly.com/ken-sunseeker/unavailable-to-meet-in-person?back=1&month=2024-03" target="_blank" class="cs-button-solid">Schedule Your Free Rental Consultation Today</a>
        </div>
    </div>
    <!-- Background Image-->
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/CTA/cabinets-m.jpg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/CTA/cabinets.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/CTA/cabinets.jpg" alt="cabinets" width="1920" height="1280" aria-hidden="true">
    </picture>
</section>
                                