<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
  <div class="cs-container">
      <!--Nav Logo-->
      <!--Logo is turned white in the css with a filter on dark mode-->
      <a href="/" class="cs-logo" aria-label="back to home">
          <img src="/assets/images/sunseeker_logo.png" alt="logo" width="210" height="29" aria-hidden="true" decoding="async">
      </a>
      <!--Navigation List-->
      <nav class="cs-nav" role="navigation">
          <!--Mobile Nav Toggle-->
          <button class="cs-toggle" aria-label="mobile menu toggle">
              <div class="cs-box" aria-hidden="true">
                  <span class="cs-line cs-line1" aria-hidden="true"></span>
                  <span class="cs-line cs-line2" aria-hidden="true"></span>
                  <span class="cs-line cs-line3" aria-hidden="true"></span>
              </div>
          </button>
          <!-- We need a wrapper div so we can set a fixed height on the cs-ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the cs-ul stops short of the bottom of the screen, which keeps all nav items in view no matter how mnay there are-->
          <div class="cs-ul-wrapper">
              <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                  <li class="cs-li">
                      <a href="/" class="cs-li-link cs-active">
                          Home
                      </a>
                  </li>
                  <li class="cs-li cs-dropdown" tabindex="0">
                    <span class="cs-li-link">
                        Owners
                        <img class="cs-drop-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/down-gold.svg" alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                    </span>
                    <ul class="cs-drop-ul">
                        <li class="cs-drop-li">
                            <a href="/property-management" class="cs-li-link cs-drop-link">Property Management</a>
                        </li>
                        <li class="cs-drop-li">
                            <a href="/reviews" class="cs-li-link cs-drop-link">Reviews On Google</a>
                        </li>
                        <li class="cs-drop-li">
                          <a href="/why-rent-your-home" class="cs-li-link cs-drop-link">Why Rent Your Home</a>
                      </li>
                      <li class="cs-drop-li">
                        <a href="/landlords-submit-a-question" class="cs-li-link cs-drop-link">Landlords Submit a Question</a>
                    </li>
                    <li class="cs-drop-li">
                        <a href="/rental-analysis" class="cs-li-link cs-drop-link">Rental Analysis</a>
                    </li>
                    <li class="cs-drop-li">
                        <a href="" class="cs-li-link cs-drop-link">Homeowner Portal</a>
                    </li>
                    </ul>
                </li>
                  <!--Copy and paste this cs-dropdown list item and replace any .cs-li with this cs-dropdown group to make a new dropdown and it will work-->
                  <li class="cs-li cs-dropdown" tabindex="0">
                      <span class="cs-li-link">
                          Residents
                          <img class="cs-drop-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/down-gold.svg" alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                      </span>
                      <ul class="cs-drop-ul">
                          <li class="cs-drop-li">
                              <a href="/homes-for-rent" class="cs-li-link cs-drop-link">Homes For Rent</a>
                          </li>
                          <li class="cs-drop-li">
                              <a href="" class="cs-li-link cs-drop-link">Apply For A Rental</a>
                          </li>
                          <li class="cs-drop-li">
                            <a href="" class="cs-li-link cs-drop-link">Submit A Work Order</a>
                        </li>
                        <li class="cs-drop-li">
                          <a href="" class="cs-li-link cs-drop-link">Resident Portal</a>
                      </li>
                      </ul>
                  </li>
                  <li class="cs-li cs-dropdown" tabindex="0">
                    <span class="cs-li-link">
                        Investors
                        <img class="cs-drop-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/down-gold.svg" alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                    </span>
                    <ul class="cs-drop-ul">
                        <li class="cs-drop-li">
                            <a href="/list-your-home-for-sale" class="cs-li-link cs-drop-link">List Your Home For Sale</a>
                        </li>
                        <li class="cs-drop-li">
                            <a href="/reviews" class="cs-li-link cs-drop-link">Reviews On Google</a>
                        </li>
                        <li class="cs-drop-li">
                          <a href="" class="cs-li-link cs-drop-link">Why Rent Your Home</a>
                      </li>
                      <li class="cs-drop-li">
                        <a href="" class="cs-li-link cs-drop-link">Why List with Us</a>
                    </li>
                    <li class="cs-drop-li">
                        <a href="" class="cs-li-link cs-drop-link">Rental Analysis</a>
                    </li>
                    <li class="cs-drop-li">
                        <a href="" class="cs-li-link cs-drop-link">Referral Program</a>
                    </li>
                    </ul>
                </li>
                  <li class="cs-li cs-dropdown" tabindex="0">
                    <span class="cs-li-link">
                        Portal Login
                        <img class="cs-drop-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/down-gold.svg" alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                    </span>
                    <ul class="cs-drop-ul">
                        <li class="cs-drop-li">
                            <a href="" class="cs-li-link cs-drop-link">Tenant Portal</a>
                        </li>
                        <li class="cs-drop-li">
                            <a href="" class="cs-li-link cs-drop-link">Homeowners Portal</a>
                        </li>
                    </ul>
                </li>
              </ul>
          </div>
      </nav>
      <div class="cs-contact-group">
          <a href="tel:+84 1985 33 999" class="cs-phone">
              623.248.1929
          </a>
          <div class="cs-social">
              <a href="/contact" class="cs-button-solid">Contact Us</a>
          </div>
      </div>
  </div>
</header>
                              