---
title: 'Reviews'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'reviews/'
eleventyNavigation:
    key: Reviews
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/reviews.css">
{% endblock %}

{% block body %}

{% include 'components/banner.html' %}

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-562">
    <div class="cs-container">
        <div class="cs-content-top">
            <span class="cs-topper">Client Testimonials</span>
            <h2 class="cs-title">Our <span class="cs-color">Google Reviews</span></h2>
        </div>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/computer-m.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/computer.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/computer.jpg" alt="computer" width="630" height="528" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <h3 class="cs-h3">Over 150+ Positive Reviews</h3>
            <p class="cs-text">
                At SunSeeker Rentals, our reputation precedes us, with stellar reviews that speak volumes about our commitment to excellence. Clients rave about our attentive service, expert management, and seamless rental experiences. With a track record of satisfied customers, we pride ourselves on exceeding expectations. 
            </p>
            <p class="cs-text">    
                If you're ready to experience the difference, schedule an appointment with us today. Let our dedicated team handle your property needs while you reap the benefits of stress-free management
            </p>
            <a href="" class="cs-button-solid">Schedule an appointment</a>
        </div>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1672">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Some Of Our Amazing Customer Reviews</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="https://www.google.com/search?q=sunseeker+rentals+reviews&rlz=1C1VDKB_enUS1004US1004&oq=sunseeker+rentals+&gs_lcrp=EgZjaHJvbWUqDggBEEUYJxg7GIAEGIoFMgYIABAjGCcyDggBEEUYJxg7GIAEGIoFMgoIAhBFGBYYHhg7MhAIAxAuGK8BGMcBGIAEGI4FMggIBBAAGBYYHjIICAUQABgWGB4yBggGEEUYPDIGCAcQRRg90gEIOTQxMWowajSoAgCwAgA&sourceid=chrome&ie=UTF-8#lrd=0x872b386610816511:0x3232c3c142555ad2,1,,,,">
                <div class="cs-flex-group">
                    <span class="cs-name">
                        Jan
                        <span class="cs-job">Homeowner</span>
                    </span>
                </div>
                <div class="wrapper">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg" alt="stars" width="96" height="16">
                    <p class="cs-review">
                        Working with Ken & Cindy Ellis of Sun Seeker Rentals has been an exceptionally easy and highly positive experience! I would recommend them, without hesitation, to anyone needing their expertise. This is a very straightforward business with years of experience. Response time to questions or concerns is impressively fast and professionally handled. Prices are fair and competitive.  Questions are answered honestly and completely. I have also had timely and excellent help from any of the service providers that Ken has recommended. Sun Seeker Rentals is just an excellent business!
                    </p>

                </div>
                <!--Quote Icon-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
            </a>
        </li>
            <li class="cs-item">
                <a href="https://www.google.com/search?q=sunseeker+rentals+reviews&rlz=1C1VDKB_enUS1004US1004&oq=sunseeker+rentals+&gs_lcrp=EgZjaHJvbWUqDggBEEUYJxg7GIAEGIoFMgYIABAjGCcyDggBEEUYJxg7GIAEGIoFMgoIAhBFGBYYHhg7MhAIAxAuGK8BGMcBGIAEGI4FMggIBBAAGBYYHjIICAUQABgWGB4yBggGEEUYPDIGCAcQRRg90gEIOTQxMWowajSoAgCwAgA&sourceid=chrome&ie=UTF-8#lrd=0x872b386610816511:0x3232c3c142555ad2,1,,,,">
                <div class="cs-flex-group">
                    <span class="cs-name">
                        Amanda
                        <span class="cs-job">Renter</span>
                    </span>
                </div>
                <div class="wrapper">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg" alt="stars" width="96" height="16">
                    <p class="cs-review">
                        Working with Sunseeker has been a pleasure. Upon walkthrough of the property at move in everything was documented and even after I was able to send pictures of things that I had found that we missed.
                        All of my questions were answered promptly as were the maintenance requests.  Using the app to pay rent and make auto payments made everything so much simpler. Being the first time using a rental company, I am very pleased with the process and how everything was handled in my time with one of their properties.
                    </p>
        
                </div>
                <!--Quote Icon-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
                </a>
            </li>
            <li class="cs-item">
                <a href="https://www.google.com/search?q=sunseeker+rentals+reviews&rlz=1C1VDKB_enUS1004US1004&oq=sunseeker+rentals+&gs_lcrp=EgZjaHJvbWUqDggBEEUYJxg7GIAEGIoFMgYIABAjGCcyDggBEEUYJxg7GIAEGIoFMgoIAhBFGBYYHhg7MhAIAxAuGK8BGMcBGIAEGI4FMggIBBAAGBYYHjIICAUQABgWGB4yBggGEEUYPDIGCAcQRRg90gEIOTQxMWowajSoAgCwAgA&sourceid=chrome&ie=UTF-8#lrd=0x872b386610816511:0x3232c3c142555ad2,1,,,,">
                <div class="cs-flex-group">
                    <span class="cs-name">
                        Tom
                        <span class="cs-job">Homeowner</span>
                    </span>
                </div>
                <div class="wrapper">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg" alt="stars" width="96" height="16">
                    <p class="cs-review">
                        I have multiple rental properties with Sun Seekers Rental Property Management Company.  I have found Ken & Cindy to be very professional, and always looking out for my best interest over the last 12 years.  Recently, when I had a tenet move out, it was time for me to replace my kitchen appliances.  Ken did some research, and I thought that the equipment, and the price was reasonable, and gave him the go ahead to purchase the equipment.  A few days later one of the ladies in his office called to let me know that she was able to locate the same products at an even better price.  It's that kind of service that let's me know that he, and his employees are looking out for best interest.   I also had Ken find an additional property for me ,and I was impressed with how hard he worked to find me a great property, and not allow me to over pay for it.                    
                 
                    </p>
                    <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
                    </div>
                    </div>     
                    </div>           
                </a>
            </li>
        </ul>
    </div>
</section>

    {% include 'components/cta.html' %}

{% endblock %}